body{
    background-color: rgb(253, 253, 253);
}
.card{
    border: 1px solid rgb(13, 14, 13);
    position:relative;
    display: flex;
    height: 250px;
    width: 450px;
    /*margin-top: 15%;
    margin-left: 35%;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    background-image: url('back1.jpg');
    background-size: cover;
    box-shadow: 5px 5px 10px rgb(89, 86, 86);
}
.logomaster{
    background-image: url(logo.png);
    margin-left: 20px;
    background-size: cover;
    height: 60px;
    width: 60px;
    margin-top: 20px;
}
.header{
    color: aliceblue;
    margin-top: 30px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 25px;
}
.chip{
    
    margin-left: 20px;
    background-size: cover;
    height: 100px;
    width: 200px;
    margin-top: 20px;
    
}
.wifi{
    background-image: url('wifilogo.png');
    background-size: cover;
    color: aliceblue;
    background-size:contain;
    height: 50px;
    width: 50px;
    margin-left: 380px;
    background-repeat: no-repeat;
    margin-top: -20px;
}
.second{
    position:absolute;
}
h5{
    color: aliceblue;
    margin-top: 120px;
    margin-left: -200px;

}
h4{
    color: aliceblue;
    margin-top: 140px;
    margin-left: -80px;
    font-size: 30px;
}
.name{
    color: white;
    margin-bottom: 0px;
    margin-top: 200px;
    margin-left: -255px;
}
.date{
    color: white;
    
    margin-top: 220px;
    margin-left: -32px;
}
.valid{
    color: white;
    
    margin-top: 200px;
    margin-left: 250px;
}